@charset "UTF-8" ;



@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
  }


:root {
    --cor4:#0D0D0D;
    --cor3:#404040;
    --cor2:#737373;
    --cor1:#D9D9D9;
    --cor0:#F2F2F2;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo:'Cinzel', serif  ;
    --fonte-padrao-2:'Cinzel', serif;

}



body {
    font-family:var(--cor4);
    background-color:var(--cor1);
   
}
    


 header  { 
    color: var(--cor4);
    background-color:transparent;
    padding:40px 0 ; 
    text-align: center;
    min-width: 320px;
    max-width: 1920px;
  
}

nav  {
    background-color: transparent;
    text-align: center;
    padding: 20px;
    min-width: 320px;
    max-width: 1920px;
     }

a {text-decoration: none;
    padding: 10px;
    color: var(--cor4);
    font-size: 1em;
}

span:hover {
        border: 0.2px solid rgba(0, 0, 0, 0.089) ;
        background-color:#7373731a;
}



main {
    
    min-width: 320px;
    max-width: 1920px;
    
}



article {
    
    text-align: center;
}

article h1 {
    margin: 20px;
}

article > p {
    padding: 10px;


}

.container {
    display: inline-block;
}

#d1{ 
    margin: 20px;
    width:300px;
    height: 50px; 
    padding: 12px;
    border: 1px solid #0d0d0d7c;
    box-shadow: 2px 3px 6px 0px rgb(0 0 0 / 41%);
    
    
} 

#d2 {
    margin: 20px;
    width: 300px;
    height:50px;
    padding: 12px;
    border: 1px solid #0d0d0d7c;
    box-shadow: 2px 3px 6px 0px rgb(0 0 0 / 41%);

    
}

#d3 {
    
    margin:20px;
    width: 300px;
    height: 100px;
    padding: 12px;
    border: 1px solid #0d0d0d7c;
    box-shadow: 2px 3px 6px 0px rgb(0 0 0 / 41%);

}

label {
    display: block;

    position: absolute;
    margin: 1px;
}

#d4 {
    margin-top:30px;
    padding: 2px;
}
textarea {
    margin-left:10px;
    margin-top: 10px;

}



footer {
    color:var(--cor0);
    background-color:transparent;
    border-radius: 0 0 10px 10px;
    text-align: center;
    min-width: 320px;
    max-width: 1920px;
    margin-top: 220px;
    margin-bottom: 10px;
   
    
  }