@charset "UTF-8" ;



@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
  }


:root {
    --cor4:#0D0D0D;
    --cor3:#404040;
    --cor2:#737373;
    --cor1:#D9D9D9;
    --cor0:#F2F2F2;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo:'Cinzel', serif  ;
    --fonte-padrao-2:'Cinzel', serif;

}



body {
    font-family:var(--cor4);
    background-color:var(--cor1);
   
}
    
.fixed-width {

    text-align: center;
}

 header  { 
    color: var(--cor4);
    background-color:transparent;
    padding:40px 0 ; 
    text-align: center;
    min-width: 320px;
    max-width: 1920px;
  
}


main {
    background-color: transparent;
    border-radius: 10px 10px 0 0;
    min-width: 320px;
    max-width: 1920px;
    min-height: 500px;
    max-height: 980px;
   
    
    
}


#foto  img {
    display: block;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.411);
    
}



span:hover {
    border: 0px 0px 7px 2px rgb(0 0 0 / 41%) ;
    background-color:#7373731a;
    

 }


.container {
    
    margin-top: 60px;
    width: 100%;
    height: auto;
    display:flex;     
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
    
}




.box {
    transition: transform 0.6s ease-in-out;  
}

.box:hover {
    transform: scale(1.5); 
    }

h1#header {
    font-family:var(--fonte-titulo);

}
img  {

    margin: 10px;
    border-radius: 10px;
   }

nav  {
    background-color: transparent;
    text-align: center;
    padding: 20px;
    min-width: 320px;
    max-width: 1920px;
     }

a {text-decoration: none;
    padding: 10px;
    color: var(--cor4);
    font-size: 1em;

    }

 footer {
        color:var(--cor0);
        background-color:transparent;
        border-radius: 0 0 10px 10px;
        text-align: center;
        min-width: 320px;
        max-width: 1920px;
        margin-top: 220px;
        margin-bottom: 10px;
       
        
      }